
    <div class="card">
        <img [src]="product.imgURL" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.price|currency:"EGP"}}</p>
          <p class="card-text">{{product.quantity}}</p>
          <div class="d-flex justify-content-center">

            <a class="btn" (click)="add(product)"><i class="text-primary fa fa-shopping-cart"></i></a>
            <a class="btn" (click)="addToWishlist(product)" ><i class="fa fa-heart text-danger"></i></a>
            <a class="btn"  [routerLink]="['/product',product._id]"><i class="fa fa-eye text-success"></i></a>
            <a class="btn"  routerLink="/edit-product/{{product._id}}"><i class="fa fa-edit text-warning"></i></a>
            <a class="btn btn-danger" (click)="delete(product._id!)" ><i class="fa fa-trash"></i></a>

          </div>
        </div>
      </div>

