<div class="container">
    <form class="row g-3" [formGroup]="form" (ngSubmit)="send()">
      <div class="col-12">
        <label for="validationCustomUsername" class="form-label">Email</label>
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            formControlName="email"
            [ngClass]="{ 
              'is-valid': form.controls['email'].valid && form.controls['email'].touched,
              'is-invalid': form.controls['email'].invalid && form.controls['email'].touched,
           }"
          />
  
          <div
            class="invalid-feedback"
            *ngIf="
              form.controls['email'].invalid && form.controls['email'].touched
            "
          >
            <span *ngIf="form.controls['email'].hasError('required')"
              >Please provide a enter Email.</span
            >
            <span *ngIf="form.controls['email'].hasError('pattern')"
              >Please provide a valid Pattern like : test_30@company.com .</span
            >
          </div>
          <div class="valid-feedback" *ngIf="form.controls['email'].valid">
            Looks good!
          </div>
        </div>
      </div>
  
      <div class="col-12">
        <label for="validationCustom03" class="form-label">Password</label>
        <div class="input-group">
          <input
            [type]="passType"
            class="form-control"
            id="inputGroupPrepend2"
            formControlName="password"
            [ngClass]="{ 
                'is-valid': form.controls['password'].valid && form.controls['password'].touched ,
                'is-invalid': form.controls['password'].invalid && form.controls['password'].touched,
              }"
          />
          <span (click)="change()" class="input-group-text" id="inputGroupPrepend2">
            <i *ngIf="passType=='text'" class="fa fa-eye"></i>
            <i *ngIf="passType == 'password'" class="fa fa-eye-slash"></i>
          </span>
  
          <div
            class="invalid-feedback"
            *ngIf="
              form.controls['password'].invalid &&
              form.controls['password'].touched
            "
          >
            <span *ngIf="form.controls['password'].hasError('required')"
              >Please provide a enter Password.</span
            >
            <span *ngIf="form.controls['password'].hasError('minlength')"
              >Please provide a valid Password with atleast 8 caracter.</span
            >
          </div>
          <div class="valid-feedback" *ngIf="form.controls['password'].valid">
            Looks good!
          </div>
        </div>
      </div>
  
      <div class="col-12">
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
          Register
        </button>
      </div>
    </form>
  </div>
  